
.content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.locationContainer {
    display: grid;
    justify-content: center;
    background-color: aquamarine;
}

.currentWeatherContainer {
    display: grid;
    justify-content: center;
    background-color: cadetblue;
}

.upcomingWeatherContainer {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.lastVisitedContainer {
    display: grid;
    justify-content: center;
    background-color: cadetblue;
    margin-bottom: 100px;
}

.lastVisitedLocations {
    display: flex;
    
}