.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    
}

.container a{
    color: black;
    font-size: 24px;
    text-decoration: none;
    
}

.textContainer {
    height: 60px;
}