
.nav_container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logoDiv {
   
    width: 250px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 3px #000000;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0px;

}

.nav__link {
    
    color: black;
    font-size: 24px;
    ;
}

.emptyDiv {
    background-color: thistle;
    width: 250px;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
