
.nav_container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav__menu {
    display: flex;
    background-color: violet;
   
}

.nav__item {
    padding: 5px;
    
}