
.nav_container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0px;

}

.nav__link {
    
    color: black;
    font-size: 24px;
    ;
}